In [1]:
from sqlalchemy import create_engine

In [22]:
db = create_engine('postgresql:///dummydata')

In [25]:
db.execute("CREATE TABLE data4(id SERIAL PRIMARY KEY, dummyname VARCHAR(50));")

In [26]:
db.execute("INSERT INTO data4(id, dummyname) VALUES(1, 'John'), (2, 'Jane');")

In [34]:
all_users = db.execute('SELECT * FROM data4');

In [28]:
for user in all_users:
    print(user)

(1, 'John')
(2, 'Jane')

In [33]:
for user in all_users:
    print(user.id);

1
2

In [35]:
for user in all_users:
    print(user.dummyname);

John
Jane

In [37]:
db.execute("UPDATE data4 SET dummyname = 'Joe' WHERE id = 1");

In [41]:
all_users = db.execute('SELECT * FROM data4');

In [42]:
for user in all_users:
    print(user);

(2, 'Jane')
(1, 'Joe')

In [43]:
db.execute('DELETE FROM data4 WHERE id=2');

In [44]:
all_users = db.execute('SELECT * FROM data4');
for user in all_users:
    print(user);

(1, 'Joe')